*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.personaje{
    display: grid;
    grid-template-areas:    "nombre clase nivel trasfondo"
                            "nombre raza alineamiento xp";
}
.nombre{
    grid-area: nombre;
}
.clase{
    grid-area: clase;
}.nivel{
    grid-area: nivel;
}.trasfondo{
    grid-area: trasfondo;
}.raza{
    grid-area: raza;
}.alineamiento{
    grid-area: alineamiento;
}.xp{
    grid-area: xp;
}

.sheet{
    display: grid;
    grid-template-areas:    "stats stats stats"
                            "columna1 columna2 columna3"
                            "descripcion descripcion descripcion"
                            "columna1delgada columan2gruesa columna2gruesa"
                            "magicstat magicstat magicstat"
                            "magia1 magia2 magia3";
}
.stats{
    grid-area: stats;
    display: flex;
    justify-content: space-around;
}
.columna1{
    grid-area: columna1;
}
.columna2{
    grid-area: columna2;
}.columna3{
    grid-area: columna3;
}
.descripcion{
    grid-area: descripcion;
}
.columna1delgada{
    grid-area: columna1delgada;
}.columna2gruesa{
    grid-area: columna2gruesa;
}
.magicstat{
    grid-area: magicstat;
}
.magia1{
    grid-area: magia1;
}
.magia2{
    grid-area: magia2;
}.magia3{
    grid-area: magia3;
}